@keyframes moveSpeed {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes initFirstCloud {
    from, to, 99.5% {
        left: 90vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes initSecondCloud {
    from, to, 99.5% {
        left: 75vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes initThirdCloud {
    from, to, 99.5% {
        left: 40vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes moveCloud {
    from, to, 99.5% {
        left: 101vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes start {
    from {
        margin-left: -100vw;
    }
    to {
        margin-left: -5vw;
    }
}

@keyframes speedup {
    from, to {
        margin-left: -5vw;
    }
    25% {
        margin-left: 8vw;
    }
}

@keyframes shake {
    from, to {
        margin-bottom: -1px;
    }
    50% {
        margin-bottom: 2px;
    }
}

@keyframes move {
    from, to, 90% {
        right: -200vw;
    }
    50%, 51% {
        right: 200vw;
    }
    from, to, 50% {
        opacity: 1;
    }
    51%, 90% {
        opacity: 0;
    }
}

@keyframes moveFence {
    0%, 100%, 90.5% {
        margin-right: 0;
    }
    90% {
        margin-right: 3em;
    }
}