.sky {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 350px);
    background-image: var(--sky);
    bottom: 450px;
    left: 0;
    z-index: 400;
}

.sun {
    position: absolute;
    bottom: 660px;
    left: 75vw;
    width: 1px;
    height: 1px;
    transform: scale(5);
    z-index: 494;
}

.mountain {
    position: absolute;
    bottom: 870px;
    left: -15px;
    width: 1px;
    height: 1px;
    transform: scale(7);
    z-index: 495;
}

.island {
    position: absolute;
    bottom: 570px;
    left: calc(50vw - 55px);
    width: 1px;
    height: 1px;
    transform: scale(3);
    z-index: 499;
}

.moon {
    position: absolute;
    bottom: 620px;
    left: 20vw;
    width: 1px;
    height: 1px;
    transform: scale(5);
    z-index: 495;
}

.cloud-1 {
    position: absolute;
    bottom: 620px;
    left: 90vw;
    width: 1px;
    height: 1px;
    transform: scale(3);
    z-index: 498;
}

.cloud-2 {
    position: absolute;
    bottom: 640px;
    left: 75vw;
    width: 1px;
    height: 1px;
    transform: scale(5);
    z-index: 499;
}

.cloud-3 {
    position: absolute;
    bottom: 590px;
    left: 40vw;
    width: 1px;
    height: 1px;
    transform: scale(3);
    z-index: 498;
}

.sea {
    position: absolute;
    bottom: 350px;
    right: 0;
    width: 100vw;
    height: 100px;
    z-index: 497;
    background-image: var(--sea);
    border-top: var(--sea-border);
}

.fence, .fence::after, .fence::before {
    position: absolute;
    width: 130vw;
}

.fence {
    z-index: 498;
    bottom: 345px;
    height: 85px;
    right: -30vw;
    background-image: repeating-linear-gradient(90deg, #381e0f, #381e0f 1.5em, transparent 1.5em, transparent 3em) !important;
}

.fence::after, .fence::before {
    content: '';
    z-index: 499;
    right: 0;
    height: 15px;
    border-bottom: solid 2px #5a2f16;
    border-top: solid 2px #5a2f16;
    background: #381e0f;
}

.fence::after {
    bottom: 15px;
}

.fence::before {
    bottom: 51px;
}

.car {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: 300px;
    left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5vw;
    transform: scale(5);
    z-index: 50;
}

.road {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100vw;
    height: 200px;
    background: #1a1a1a;
    border-top: solid 2px #ffae00;
    border-bottom: solid 5px #ffae00;
    z-index: 1;
}

.ink {
    position: absolute;
    height: 3px;
    bottom: 200px;
    right: -100vw;
    width: 250px;
    background: #ffffff;
    z-index: 2;
}

.tree-1, .tree-2, .tree-3, .tree-4 {
    width: 1px;
    height: 1px;
    z-index: 500;
    transform: scale(8);
    position: absolute;
    right: -200vw;
}

.tree-1 {
    bottom: 675px;
}

.tree-2 {
    bottom: 675px;
}

.tree-3 {
    bottom: 300px;
}

.tree-4 {
    bottom: 300px;
}

.speed {
    color: #b80000;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
}