:root {
    --ground-color: "the ground color";
    --ground: "the groundgradient";
    --sea: "color of the sea";
    --sea-border: "color of the sea border";
    --sky: "color of the sky";
    --main-color: "main color of the car";
    --dark-main: "dark datail color";
    --light-main: "light datail color";
    --bright-main: "bright reflex color";
}