@import url('https://fonts.googleapis.com/css?family=Play');
@import url('./src/stylesheets/variables.css');
@import url('./src/stylesheets/buttons.css');
@import url('./src/stylesheets/keyframes.css');
@import url('./src/stylesheets/objects.css');
@import url('./src/stylesheets/media.css');
@import url('./src/stylesheets/corner.css');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Play', sans-serif;
    background-color: var(--ground-color);
    background-image: var(--ground);
    background-size: 25px 25px;
}