@import url('https://fonts.googleapis.com/css?family=Play');
:root {
    --ground-color: "the ground color";
    --ground: "the groundgradient";
    --sea: "color of the sea";
    --sea-border: "color of the sea border";
    --sky: "color of the sky";
    --main-color: "main color of the car";
    --dark-main: "dark datail color";
    --light-main: "light datail color";
    --bright-main: "bright reflex color";
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Play', sans-serif;
    background-color: var(--ground-color);
    background-image: var(--ground);
    background-size: 25px 25px;
}

.sky {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 350px);
    background-image: var(--sky);
    bottom: 450px;
    left: 0;
    z-index: 400;
}

.sun {
    position: absolute;
    bottom: 660px;
    left: 75vw;
    width: 1px;
    height: 1px;
    transform: scale(5);
    z-index: 494;
}

.mountain {
    position: absolute;
    bottom: 870px;
    left: -15px;
    width: 1px;
    height: 1px;
    transform: scale(7);
    z-index: 495;
}

.island {
    position: absolute;
    bottom: 570px;
    left: calc(50vw - 55px);
    width: 1px;
    height: 1px;
    transform: scale(3);
    z-index: 499;
}

.moon {
    position: absolute;
    bottom: 620px;
    left: 20vw;
    width: 1px;
    height: 1px;
    transform: scale(5);
    z-index: 495;
}

.cloud-1 {
    position: absolute;
    bottom: 620px;
    left: 90vw;
    width: 1px;
    height: 1px;
    transform: scale(3);
    z-index: 498;
}

.cloud-2 {
    position: absolute;
    bottom: 640px;
    left: 75vw;
    width: 1px;
    height: 1px;
    transform: scale(5);
    z-index: 499;
}

.cloud-3 {
    position: absolute;
    bottom: 590px;
    left: 40vw;
    width: 1px;
    height: 1px;
    transform: scale(3);
    z-index: 498;
}

.sea {
    position: absolute;
    bottom: 350px;
    right: 0;
    width: 100vw;
    height: 100px;
    z-index: 497;
    background-image: var(--sea);
    border-top: var(--sea-border);
}

.fence, .fence::after, .fence::before {
    position: absolute;
    width: 130vw;
}

.fence {
    z-index: 498;
    bottom: 345px;
    height: 85px;
    right: -30vw;
    background-image: repeating-linear-gradient(90deg, #381e0f, #381e0f 1.5em, transparent 1.5em, transparent 3em) !important;
}

.fence::after, .fence::before {
    content: '';
    z-index: 499;
    right: 0;
    height: 15px;
    border-bottom: solid 2px #5a2f16;
    border-top: solid 2px #5a2f16;
    background: #381e0f;
}

.fence::after {
    bottom: 15px;
}

.fence::before {
    bottom: 51px;
}

.car {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: 300px;
    left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5vw;
    transform: scale(5);
    z-index: 50;
}

.road {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100vw;
    height: 200px;
    background: #1a1a1a;
    border-top: solid 2px #ffae00;
    border-bottom: solid 5px #ffae00;
    z-index: 1;
}

.ink {
    position: absolute;
    height: 3px;
    bottom: 200px;
    right: -100vw;
    width: 250px;
    background: #ffffff;
    z-index: 2;
}

.button {
    user-select: none;
    color: #FFFFFF;
    text-shadow: 3px 3px 2px #A4A4A4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 180px;
    font-size: 25px;
    border-radius: 35px;
    z-index: 666;
}

.button:hover::before {
    right: 1px;
    bottom: 1px;
}

.button:hover {
    text-shadow: 2px 2px 2px #A4A4A4;
}

.button::before {
    content: '';
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 50px;
    width: 180px;
    border-radius: 35px;
    background: transparent;
    z-index: 667;
    border: solid 3px #A4A4A4;
}

.button:active {
    color: #010101;
    text-shadow: 2px 2px 2px rgb(27, 27, 27);
    background-image: repeating-linear-gradient(45deg, #fcce00, #fcce00 0.5em, #f2ff3c 0.5em, #f2ff3c 1em) !important;
}

.button:nth-child(1) {
    right: 10px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #77005d, #77005d 0.5em, #530041 0.5em, #530041 1em);
}

.button:nth-child(2) {
    right: 210px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #880e0e, #880e0e 0.5em, #600000 0.5em, #600000 1em);
}

.button:nth-child(3) {
    right: 410px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #08345a, #08345a 0.5em, #001e38 0.5em, #001e38 1em);
}

.button:nth-child(4) {
    right: 610px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #085a0c, #085a0c 0.5em, #00380e 0.5em, #00380e 1em);
}

.tree-1, .tree-2, .tree-3, .tree-4 {
    width: 1px;
    height: 1px;
    z-index: 500;
    transform: scale(8);
    position: absolute;
    right: -200vw;
}

.tree-1 {
    bottom: 675px;
}

.tree-2 {
    bottom: 675px;
}

.tree-3 {
    bottom: 300px;
}

.tree-4 {
    bottom: 300px;
}

.speed {
    color: #b80000;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

@keyframes moveSpeed {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes initFirstCloud {
    from, to, 99.5% {
        left: 90vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes initSecondCloud {
    from, to, 99.5% {
        left: 75vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes initThirdCloud {
    from, to, 99.5% {
        left: 40vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes moveCloud {
    from, to, 99.5% {
        left: 101vw;
    }
    98%, 99% {
        left: -500px;
    }
    from, to, 98% {
        opacity: 1;
    }
    99%, 99.5% {
        opacity: 0;
    }
}

@keyframes start {
    from {
        margin-left: -100vw;
    }
    to {
        margin-left: -5vw;
    }
}

@keyframes speedup {
    from, to {
        margin-left: -5vw;
    }
    25% {
        margin-left: 8vw;
    }
}

@keyframes shake {
    from, to {
        margin-bottom: -1px;
    }
    50% {
        margin-bottom: 2px;
    }
}

@keyframes move {
    from, to, 90% {
        right: -200vw;
    }
    50%, 51% {
        right: 200vw;
    }
    from, to, 50% {
        opacity: 1;
    }
    51%, 90% {
        opacity: 0;
    }
}

@keyframes moveFence {
    0%, 100%, 90.5% {
        margin-right: 0;
    }
    90% {
        margin-right: 3em;
    }
}