.button {
    user-select: none;
    color: #FFFFFF;
    text-shadow: 3px 3px 2px #A4A4A4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 50px;
    width: 180px;
    font-size: 25px;
    border-radius: 15px;
    z-index: 666;
    opacity: 0;
    margin-right: 3em;
    animation: appear 200ms ease-in 1 forwards;
}

.button:hover::before {
    right: 1px;
    bottom: 1px;
}

.button:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px #A4A4A4;
}

.button::before {
    content: '';
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 50px;
    width: 180px;
    border-radius: 15px;
    background: transparent;
    z-index: 667;
    border: solid 3px #e9e9e9;
}

.button:active {
    color: #010101;
    text-shadow: 2px 2px 2px rgb(27, 27, 27);
    background-image: repeating-linear-gradient(45deg, #fcce00, #fcce00 0.5em, #f2ff3c 0.5em, #f2ff3c 1em) !important;
}

.button#button-scenery {
    right: 10px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #77005d, #77005d 0.5em, #680051 0.5em, #680051 1em);
}

.button#button-background {
    right: 210px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #880e0e, #880e0e 0.5em, #770a0a 0.5em, #770a0a 1em);
}

.button#button-carcolor {
    right: 410px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #08345a, #08345a 0.5em, #042d52 0.5em, #042d52 1em);
}

.button#button-speed {
    right: 610px;
    bottom: 10px;
    background-image: repeating-linear-gradient(45deg, #087228, #087228 0.5em, #066423 0.5em, #066423 1em);
}

.button.hidden{
    display: none;
}